#cards img {
    background-color: blue;
    width: 40px;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#cards img[src="./pics/mordy-chalk.jpg"] {
    width: 50px;
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: red;
}