body {
    background-image: url('background-pic-1.jpg');
}
header {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 5px outset;
    background-color: antiquewhite;
}
h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h2 {
    font-family: Snell Roundhand, cursive;
}
button {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
#family-bio {
    margin: auto;
    width: 75%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-style: groove;
    background-color: bisque;
    font-family: Comic Sans MS, Comic Sans, cursive;
    line-height: 25px;
}
#family-pic {
    width: 200px;
}
#intro {
    width: fit-content;
    margin: auto;
    padding: 50px;
    display: block;
}
#bio-container {
    margin: auto;
    position: relative;
    width: fit-content;
    margin-top: 200px;
}
.profile-pic {
    width: 100px;
    margin-top: 5px;
    float: left;
    padding-right: 8px;
}
.bio {
    overflow: auto;
    padding: 5px;
    border-style: dotted;
    width: 500px;
    display: inline-block;
    margin: auto;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: azure;
}
#totty-bio {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 167px;
}
#mommy-bio {
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin-left: 10px;
}
#elch-bio {
    height: 167px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 10px;
}
#mordy-bio {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 10px;
    margin-left: 10px;
}
.bio-text {
    padding-left: 5px;
    list-style: none;
}
h2#memory-reminder {
    margin: auto;
    width: fit-content;
    margin-top: 200px;
    margin-bottom: 100px;
}