body {
    background-color: aqua;
}
header {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 5px outset;
    background-color: antiquewhite;
}
h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h2 {
    font-family: Snell Roundhand, cursive;
}
button {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
#family-pic {
    width: 200px;
}