#header {
    width: fit-content;
    margin: auto;
    text-align: center;
}
#game-board {
    width: 80%;
    margin: auto;
    background-image: url(./background-pic-1.jpg);
    text-align: center;
}
#game-board img {
    background-color: white;
    width: 70px;
    height: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
}
#button {
    font-size: larger;
    background-color: aqua;
}