body {
    background-image: url(./background-pic-1.jpg);
}
#header {
    width: fit-content;
    margin: auto;
    text-align: center;
}
h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h2 {
    font-family: Apple Chancery, cursive;
}
#return-link {
    margin: auto;
    text-align: center;
    font-size: larger;
    font-family: monospace;
    font-weight: bold;
}
#game-board {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
}
#game-board img[src="card-logo.jpg"] {
    background-color: white;
    width: 70px;
    height: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
}
#message-container {
    position: absolute;
    background-color: rgba(120, 120, 120, 0.6);
}
#message {
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-top: 5px;
    margin-bottom: 5px;
}
#button {
    font-size: 30px;
    background-color: rgba(0, 0, 255, 0.65);
    color: #ffffff;
    margin-top: 0px;
}
#game-board img {
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px;
}