#header {
    width: fit-content;
    margin: auto;
    text-align: center;
}
#game-board {
    width: 80%;
    margin: auto;
    background-image: url(./background-pic-1.jpg);
    text-align: center;
}
#game-board img {
    background-color: white;
    width: 70px;
    height: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
}
#button {
    font-size: larger;
    background-color: blue;
    color: #ffffff;
}
#game-board img[src="./pics/chavi-elchonon-wagon.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/elchonon-keyboard.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/elchonon-snowman.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/family-lancaster.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/kids-costumes.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/kids-ice-cream.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/kids-reading.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/kids-store.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/me-mordy-dentist.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/mordy-cabinet.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/mordy-laundry.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}
#game-board img[src="./pics/mordy-toolset.jpg"] {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
}